body {
    background-color: #0f0f0f;
    color: #00ff00;
    font-family: "Courier New", monospace;
}

input, button {
    background-color: #111;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 5px;
    margin: 2px;
}

button:hover {
    background-color: #0f0;
    color: #000;
    cursor: pointer;
}

.chat-box {
    border: 1px solid #0f0;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}
