body { font-family: "Segoe UI", Arial; background: #e5ddd5; margin:0; padding:0;}
#chat, #login { padding:20px; max-width:600px; margin:auto; background:white; border-radius:10px; margin-top:50px;}
input, button { padding:5px; margin:5px;}
#dm_messages, #group_messages { border:1px solid #ccc; padding:10px; max-height:300px; overflow-y:scroll; background:#f0f0f0;}
h2 { text-align:center; }
